include README.md
include LICENSE
include requirements.txt
include setup.py

# Include all files in the tests/ directory, excluding __pycache__
recursive-include tests *
recursive-exclude tests __pycache__

# Exclude all __pycache__ directories from the entire package
global-exclude __pycache__